*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p {
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

/* GLOBAL RESET END */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 10rem;
}

.loading span:nth-child(1) {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.loading span:nth-child(2) {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  animation-delay: 0.1s;
}
.loading span:nth-child(3) {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  animation-delay: 0.2s;
}

@keyframes ping {
  75%,
  100% {
    opacity: 0;
  }
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2rem 2rem;
}

.recipe__card {
  margin: 1rem 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.recipe__labels {
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding: 0.25rem 0.5rem;
  color: white;
}

.recipe__labels p {
  background-color: rgba(122, 117, 117, 0.9);
  border-radius: 1rem;
  width: auto;
  padding: 0.2rem 0.5rem;
  margin-top: 0.2rem;
}

.recipe__card-info {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  padding: 0 1rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(122, 117, 117, 0.5);
  color: white;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.recipe__card-info h4 {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.recipe__card-info button {
  float: right;
  border: none;
  background: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.recipe__card-info:hover button {
  transform: scale(1.5);
}

@media (max-width: 335px) {
  .recipe__labels p {
    font-size: 0.75rem;
  }
}

.search-container {
  margin: 2rem 2rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search input {
  margin-top: 2rem;
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 1100px) {
  .search input {
    width: 50%;
  }
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.8);
} */

.recipe-modal {
  position: fixed;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.recipe-modal img {
  margin: 1rem;
}

.recipe-modal__hero {
  display: flex;
}

.recipe-modal__labels h1 {
  margin-left: 0.5rem;
}

.recipe-modal__labels-items {
  background-color: rgba(122, 117, 117, 0.9);
  border-radius: 1rem;
  width: auto;
  color: white;
  margin: 0.2rem 0.25rem;
  float: left;
  padding: 0 0.5rem;
}

.recipe-moda__ing {
  margin: 1rem 1rem;
}

.recipe-modal__button {
  position: absolute;
  border-radius: 100%;
  color: white;
  background: red;
  top: 0;
  left: 0;
  border: 1px solid red;
  cursor: pointer;
  padding: 0.25rem 0.7rem;
}

.recipe-modal__button:hover {
  background-color: red;
  color: white;
}

.error {
  display: flex;
  justify-content: center;
  color: red;
}

@media (max-width: 1919px) {
  .recipe-modal__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .recipe-modal__labels h1 {
    display: flex;
    justify-content: center;
  }
  .recipe-modal__hero img {
    margin: 0;
    overflow: hidden;
  }
}

@media (max-width: 620px) {
  .recipe-modal {
    margin-top: 22rem;
    width: 95%;
  }
  .psa {
    margin-bottom: 14rem;
  }
}

@media (max-width: 370px) {
  .recipe__card {
    margin: 0;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 780px) {
  .recipe-modal {
    margin-top: 13rem;
    width: 95%;
  }
  .recipe-modal__hero img {
    margin-bottom: 1rem;
    overflow: hidden;
  }
}

.recipe-moda__ing p {
  padding-bottom: 0.5rem;
}

.new-results-button {
  background: rgb(99, 95, 95);
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1rem;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0.1rem;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
